.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwSjTOSfW51IFdTpa_o1TThn_tzbg-xZjCZg&s");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}